<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Listado de Heroes</h1>
            <div *ngIf="heroeBorrado; else noBorrado">
                <h3>Heroe Borrado: <small>{{heroeBorrado}}</small></h3>
            </div>
            <ng-template #noBorrado>
                <h3>No ha borrado nada.</h3>
            </ng-template>
        </div>
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let heroe of arrayHeroes; let i = index">
                    {{i+1}} - {{heroe}}
                </li>
            </ul>
        </div>
        <div class="col-12">
            <button class="btn btn-primary mt-2" (click)="borrarHeroe()">Borrar Heroe</button>
        </div>
    </div>
</div>



